/* Katherine Holmgren's style sheet for Assignment 9, Intro to Web Design */
/* 03/25/2019 */

body {
   background-color: white;
   font-family: "Verdana", monospace;
}

section {
   width: 800px;
   background-color: black;
   border-radius: 25px;
   padding: 20px;
   padding-bottom: 40px;
   margin: auto;
   margin-bottom: -170px;
}

.text {
  color: orange;
  text-align: center !important;
}

#farout {
   font-size: 32px;
   letter-spacing: 0.3em;
   line-height: 0.03em;
}

#sixties {
    float: right;
 }

#video {
    padding: 75px;
    postion: absolute;
}
