body {
   background-color: white;
   font-family: monospace;
}

section {
   width: 800px;
   background-color: black;
   border-radius: 25px;
   padding: 20px;
   padding-bottom: 40px;
   margin: auto;
   margin-bottom: -170px;
}

h1 {
   color: #772953;
   text-align: center !important;
   font-size: 32px;
}

#sixties {
    float: right;
 }
