
body {
  background-color: lightgray;

}

.container {
  background-color: white;
  width: 1000px;
  margin: auto;
  margin-top: -5px;
  padding: 40px;
}

/* NAVIGATION */
header {
    list-style-type: none;
    border-bottom: 1px solid pink;
    font-family: Georgia, serif;
}

.kt a{
    font-size: 32px;
    text-decoration: none;
    color: hotpink;
}

/* Space between menu items */
.menu-item {
    display: inline-block;
    min-width: 8em;
    text-align: center;
}

/* Style the links */
.link a, p{
    color: gray;
    text-decoration: none;
    font-size: 16 px;

}
.link:hover {
    font-style: italic;
    color: pink;
}

/* DROPDOWN */

li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    margin: 0;
    background-color: lightgray;
    z-index: 1;
}

.dropdown-content a {
    color: gray;
    text-align: left;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 12px 16px;
    min-width: 7em;
}
.dropdown-item:hover, .dropdown-item:hover a {
    color: white;
    background-color: pink;
}
/* end NAVIGATION */

/* GENERAL */

h2 {
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
}

h3 {
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
}

.content {
    font-size: 13px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.7em;
    display: block;
}

p{
  padding-right: 200px;
}
